@inject IStringLocalizer<AllGamesComponent> Localize

<div>
    <p>Word Seach Kingdom - All Games</p>

    <MudTable Class="mt-4" Id="AllGamesStaticTable" Items="@_games" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info">
        <HeaderContent>
            <MudTh>Title</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Nr">@context.Title</MudTd>
        </RowTemplate>
    </MudTable>

    <MudButton Class="mt-4" Variant="Variant.Filled" Color="Color.Primary" OnClick="() => LoadSelectedGame(_games.FirstOrDefault())" >Load Checked</MudButton>    
</div>

@code {
    private List<GameViewModel> _games = new();
    [Parameter]
    public EventCallback<GameViewModel> OnChosenGame { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();                     
        var GamesGetAllQry = new GamesGetAllQry();
        _games = await WskDataService.GamesGetAllAsync(GamesGetAllQry);
    }

    protected Task LoadSelectedGame(GameViewModel game) {
        return OnChosenGame.InvokeAsync(game);
    }
}
