.text-scroll {
    display: inherit;
    white-space: nowrap;
    animation: autoscroll 5s ease-in-out 3 alternate;
}

.hide-scrollbar {
    display: inherit;
    white-space: nowrap;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

@keyframes autoscroll {
    0% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(-100%);
    }
}