@inject IStringLocalizer<GameComponent> Localize
<div class="border-double border-xs-none border-xs-0 border-4 mud-border-primary pa-4 rounded main-game-container">

    <MudBreakpointProvider OnBreakpointChanged="((e) => SetStackDirection(e))" />
    @if(Game.GameGrid != null) {
        <MudStack Row=isRow Class="pa-4 rounded" AlignItems="AlignItems.Center" Justify="Justify.Center">
            <MudHidden Breakpoint="Breakpoint.MdAndUp">
            <div class="grid-cell__engraved-text-container d-flex">
                <MudText Class="highlight-shadow"  Typo="Typo.h2" Align="Align.Center">@Game?.Title</MudText>   
            </div>
        </MudHidden>
        <div class="d-flex justify-center align-items-center">
                <MudHidden Breakpoint="Breakpoint.SmAndDown">
                    <div class="grid-cell__engraved-text-container d-flex">
                    <MudText Class="highlight-shadow" Typo="Typo.h2" Align="Align.Center" Style="writing-mode: vertical-rl;">@Game?.Title</MudText>   
                    </div>
            </MudHidden>
                <div class="play-area-grid align-items-center ma-auto" Style="@(($"grid-template-rows: repeat({Game.GameGrid.Width}, 1fr); grid-template-columns: repeat({Game.GameGrid.Height}, 1fr);"))">
                    @for (var x = 0; x < Game.GameGrid.Width; x++) {
                        @for (var y = 0; y < Game.GameGrid.Height; y++) {                            
                            var storeX = x;
                            var storeY = y;
                            char rowCell = SelectedGridCells[storeX,storeY];
                        @* <MudLink Class="grid-cell" OnClick=@(e => HandleCellClick(e, rowCell, storeX, storeY)) Underline="Underline.None" > *@
                        
                            <RowCellComponent 
                                RowCell=rowCell
                                OnCellClick="HandleCellClick"
                                X=storeX
                                Y=storeY
                                IsCompleted=@(SelectedGridCellPoints.Any(rs=>rs.X == storeX && rs.Y == storeY))
                                IsSelected=@((bool)(firstClick.HasValue && firstClick.Value.x == storeX && firstClick.Value.y == storeY))
                            />

                            }
                        }                
                </div>
            </div>
            <MudContainer Class="border-double border-xs-0 border-4 mud-border-primary pa-4 rounded ma-0" >
                <MudText Class="highlight-shadow" Typo="Typo.h3" Align="Align.Center">
                    Hidden Words
                </MudText>
                <MudDivider />
                <MudStack Class="my-6 overflow-y-auto" Style="max-height: 50vh;">
                    @foreach (var word in Game?.GameGrid.HiddenWords)
                    {
                        <MudChip Color=@isFoundStyling(word.IsFound) Size="Size.Large">
                            <MudText Class="p-8" Typo="Typo.h5" Align="Align.Center">@word.Word</MudText>
                        </MudChip>
                    }
                </MudStack>
                <MudStack Spacing="4">
                    <MudButton Style="justify-self: flex-end;" Variant="Variant.Filled" Color="Color.Tertiary" OnClick=OnRecreateGame FullWidth="true" >Recreate Game</MudButton>  
                    <MudButton Style="justify-self: flex-end;" Variant="Variant.Filled" Color="Color.Tertiary" OnClick=BackToAllGames FullWidth="true" >All Games</MudButton>    
                </MudStack>
            </MudContainer>
        </MudStack>
    }
</div>

@code {
    [Parameter]
    public GameViewModel? Game { get; set; }
    [Parameter]
    public EventCallback OnRecreateGame { get; set; }
    [Parameter]
    public char[,] SelectedGridCells { get; set; }
    [Parameter]
    public List<System.Drawing.Point> SelectedGridCellPoints { get; set; } = new();
    bool isRow { get; set; }
    private (int x, int y)? firstClick { get; set; }

    private void SetStackDirection(MudBlazor.Breakpoint breakpoint)
    {
        Console.WriteLine($"breakpoint: {breakpoint}");
        if (breakpoint == MudBlazor.Breakpoint.Sm || breakpoint == MudBlazor.Breakpoint.Xs)
        {
            isRow = false;
        }
        else
        {
            isRow = true;
        }
        Console.WriteLine($"isRow: {isRow}");
    }

    private MudBlazor.Color isFoundStyling(bool isFound) {
        if (isFound) {
            return Color.Error;
        }
        return Color.Primary;
    }
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();      
                       
    }

    private async Task HandleCellClick((MouseEventArgs, char, int, int) args)
    {
        var (e, letter, x, y) = args;
        Console.WriteLine($"Clicked Cell X={x} Y={y} {letter}");        
        if (firstClick == null)
        {
            firstClick = new(x, y);            
            @* StateHasChanged(); *@
        }
        else
        {
            var request = new GameCheckWordCoordsRequest(Game.Id, firstClick.Value.x, firstClick.Value.y, x, y);
            Game = await WskDataService.GameCheckWordCoordsAsync(request);
            SelectedGridCells = GameGridUtility.ConvertRowCellStringToArray(Game.GameGrid.RowCellData);
            SelectedGridCellPoints = GameGridUtility.ConvertSelectedWordsToPointList(Game.GameGrid.CompletedWordCellData);            
            firstClick = null;
            @* StateHasChanged(); *@
        }
    }

    private void BackToAllGames()
    {
        NavigationManager.NavigateTo("/wsk/allgames");
    }
}
