@inject IStringLocalizer<GameComponent> Localize
<MudContainer>
    <style>
        .play-area-grid {
            display: grid;
            border-collapse: collapse;
        }
        .grid-cell {
            font-family: 'Monaco', monospace;
            @* border: 1px solid white; *@
            width: 33px;
            height: 33px;
            text-align: center;
            user-select: none;
            @* padding: 4px 6px; *@
            aspect-ratio: 1 / 1;
            @* transform: scale(1.5, 1); *@
        }
        .grid-cell:hover {
            background-color: #e0e0e0;
            color: black;
            cursor: pointer;
        }
        .grid-cell .mud-link {
            aspect-ratio: 1 / 1;
            font-family: 'Monaco', monospace !important;
            font-weight: bolder;
            font-size: 1em;
        }

    </style>
    <MudDivider />
    <MudBreakpointProvider OnBreakpointChanged="((e) => SetStackDirection(e))"/>
    <MudStack Row=isRow Class="d-flex flex-row border-md-solid border-xs-none border-xs-0 border-2 mud-border-primary pa-4 rounded">
        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudText Typo="Typo.h2" Align="Align.Center" Style="writing-mode: vertical-rl;">@Game?.Title</MudText>   
        </MudHidden>
        <div class="play-area-grid" Style="@(($"grid-template-rows: repeat({Game.GameGrid.Width}, 1fr); grid-template-columns: repeat({Game.GameGrid.Height}, 1fr);"))">
            @for (var x = 0; x < Game.GameGrid.Width; x++) {
                @for (var y = 0; y < Game.GameGrid.Height; y++) {
                    var rowCell = Game.GameGrid.RowCells.First(rs => rs.X == x && rs.Y == y);
                        <MudLink Class="grid-cell" OnClick="@((e) => HandleCellClick(e, rowCell))"Underline="Underline.None" >
                            <RowCellComponent RowCell=rowCell  />
                        </MudLink>
                }
            }
        </div>
        <MudContainer Class="border-solid border-xs-0 border-2 mud-border-primary pa-4 rounded" Style="width: 100%;">
            <MudText Typo="Typo.h3" Align="Align.Center">
                Hidden Words
            </MudText>
            <MudDivider />
            <MudStack Class="my-6">
                @foreach (var word in Game?.GameGrid.HiddenWords)
                {
                    <MudChip Color=@isFoundStyling(word.IsFound) Size="Size.Large">
                        <MudText Class="p-8" Typo="Typo.h5" Align="Align.Center">@word.Word</MudText>
                    </MudChip>
                }
            </MudStack>
            <MudStack>
                <MudButton Style="justify-self: flex-end;" Variant="Variant.Filled" Color="Color.Secondary" OnClick=OnRecreateGame FullWidth="true" >Recreate Game</MudButton>  
                <MudButton Style="justify-self: flex-end;" Variant="Variant.Filled" Color="Color.Secondary" OnClick=BackToAllGames FullWidth="true" >All Games</MudButton>    
            </MudStack>
        </MudContainer>
    </MudStack>

</MudContainer>

@code {
    [Parameter]
    public GameViewModel? Game { get; set; }
    [Parameter]
    public EventCallback OnRecreateGame { get; set; }
    private RowCellViewModel? firstClick { get; set; }
    private RowCellViewModel? secondClick { get; set; }
    bool isRow { get; set; }

    private void SetStackDirection(MudBlazor.Breakpoint breakpoint)
    {
        Console.WriteLine($"breakpoint: {breakpoint}");
        if (breakpoint == MudBlazor.Breakpoint.Sm || breakpoint == MudBlazor.Breakpoint.Xs)
        {
            isRow = false;
        }
        else
        {
            isRow = true;
        }
        Console.WriteLine($"isRow: {isRow}");
    }

    private MudBlazor.Color isFoundStyling(bool isFound) {
        if (isFound) {
            return Color.Error;
        }
        return Color.Primary;
    }
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();                     
    }

    private async Task HandleCellClick(MouseEventArgs e, RowCellViewModel rowCell)
    {
        Console.WriteLine($"Clicked Cell X={rowCell.X} Y={rowCell.Y} {rowCell.Letter}");
        Console.WriteLine($"{rowCell.IsStartHighlight}");

        if (firstClick == null)
        {
            firstClick = rowCell;
            firstClick.IsStartHighlight = true;
        }
        else if (secondClick == null)
        {
            secondClick = rowCell;
            secondClick.IsEndHighlight = true;

            var request = new GameCheckWordCoordsRequest(Game.Id, firstClick.X, firstClick.Y, secondClick.X, secondClick.Y);
            Game = await WskDataService.GameCheckWordCoordsAsync(request);
        }
        else
        {
            firstClick.IsStartHighlight = false;
            secondClick.IsEndHighlight = false;
            firstClick = rowCell;
            firstClick.IsStartHighlight = true;
            secondClick = null;
        }
    }

    private void BackToAllGames()
    {
        NavigationManager.NavigateTo("/wsk/allgames");
    }
}
