@inject IStringLocalizer<GameComponent> Localize
<MudContainer>
    <style>
        table {
            max-height: 20px;
            max-width: 80%;
            height: fit-content;
            border-collapse: collapse;
            line-height: 1;
            margin: 0 auto;
        }
        td {
            font-family: 'Monaco', monospace;
            border: 1px solid white;
            min-width: 33px;
            min-height: 33px;
            text-align: center;
            user-select: none;
            @* padding: 4px 6px; *@
            aspect-ratio: 1 / 1;
            @* transform: scale(1.5, 1); *@
        }
        td:hover {
            background-color: #e0e0e0;
            color: black;
            cursor: pointer;
        }
        td .mud-link {
            aspect-ratio: 1 / 1;
            font-family: 'Monaco', monospace !important;
            font-weight: bolder;
            font-size: 1em;
        }

    </style>
    <MudDivider />
    <MudStack Row="true" Class="border-solid border-2 mud-border-primary pa-4 rounded">
        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudText Typo="Typo.h2" Align="Align.Center" Style="writing-mode: vertical-rl;">@Game?.Title</MudText>   
        </MudHidden>
        <MudContainer Class="pl-0 pr-0">
            <table>
                @for (var x = 0; x < Game.GameGrid.Width; x++) {
                    <tr >
                        @for (var y = 0; y < Game.GameGrid.Height; y++) {
                            var rowCell = Game.GameGrid.RowCells.First(rs => rs.X == x && rs.Y == y);
                            <td>
                                <MudLink OnClick="@((e) => HandleCellClick(e, rowCell))"Underline="Underline.None" >
                                    <RowCellComponent RowCell=rowCell  />
                                </MudLink>
                            </td>
                        }
                    </tr>
                }
            </table>
        </MudContainer>
        <MudContainer Class="border-solid border-2 mud-border-primary pa-4 rounded" Style="width: 100%;">
            <MudText Typo="Typo.h3" Align="Align.Center">
                Hidden Words
            </MudText>
            <MudDivider />
            <MudStack Class="my-6">
                @foreach (var word in Game?.GameGrid.HiddenWords)
                {
                    <MudChip Color="Color.Primary" Size="Size.Large">
                        <MudText Class="p-8" Typo="Typo.h5" Align="Align.Center">@word.Word</MudText>
                    </MudChip>
                }
            </MudStack>
            <MudStack>
                <MudButton Style="justify-self: flex-end;" Variant="Variant.Filled" Color="Color.Secondary" OnClick=OnRecreateGame FullWidth="true" >Recreate Game</MudButton>  
                <MudButton Style="justify-self: flex-end;" Variant="Variant.Filled" Color="Color.Secondary" OnClick=BackToAllGames FullWidth="true" >All Games</MudButton>    
            </MudStack>
        </MudContainer>
    </MudStack>

</MudContainer>

@code {
    [Parameter]
    public GameViewModel? Game { get; set; }
        
    [Parameter]
    public EventCallback OnRecreateGame { get; set; }

    // delcare first click and second click variables 
    private RowCellViewModel? firstClick { get; set; }
    private RowCellViewModel? secondClick { get; set; }
    private string selectedWord {get; set; } = "";
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();                     
    }

    private void HandleCellClick(MouseEventArgs e, RowCellViewModel rowCell)
    {
        Console.WriteLine($"Clicked Cell X={rowCell.X} Y={rowCell.Y} {rowCell.Letter}");
        Console.WriteLine($"Clicked Cell X={rowCell.X} Y={rowCell.Y} {rowCell.Letter}");
    }

    private void BackToAllGames()
    {
        NavigationManager.NavigateTo("/wsk/allgames");
    }

}
