<MudContainer>
    <MudText Typo="Typo.h2" Class="highlight-shadow" Style="font-weight: bold; color: white !important;">Let the</MudText>
    <MudText Typo="Typo.h2" Class="highlight-shadow" Style="font-weight: bold; color: white !important;">Search Begin</MudText>
    <MudText Typo="Typo.body1" Style="color: white !important;">
        Welcome to the <span style="font-weight: 600;">Word Search Kingdom</span> - a Realm of Lettered Adventures and Brain-Teasing Puzzles! Join the Quest, where Words Conceal, 
        and Discovery Prevails. Unravel Enigmatic Grids, Seek Hidden Treasures of Knowledge, and Let Your Vocabulary Reign Supreme. 
        Are You Ready to Reignite Your Passion for Words? Step into the Word Search Kingdom and Let the Games Begin
    </MudText>
    <MudStack Row="true" class="mt-6">
        <MudButton Href="/wsk/purchase" Class="pulse rounded-lg" Variant="Variant.Filled" Color="Color.Success" FullWidth="false" Style="width:200px;height:50px;">Buy Now</MudButton>
        <MudButton Href="/wsk/demogames" Class="rounded-lg" Variant="Variant.Outlined" Color="Color.Success" FullWidth="false" Style="width:200px;height:50px;">Try Free</MudButton>
        @* <MudButton Href="/wsk/demogames" Class="rounded-lg" Variant="Variant.Outlined" Color="Color.Success" FullWidth="false" Style="width:200px;height:50px;" OnClick="@(() => SetCurrentPageClass("play"))">Try Free</MudButton> *@
    </MudStack>
    <div class="mt-16">
        <MudText Typo="Typo.caption" Class="d-block">Availabel On:</MudText>
        <MudStack Row="true" Class="ml-8">
        <MudText Typo="Typo.caption">Your Screen</MudText>
            <MudIcon Icon="@Icons.Material.Filled.Monitor" Size="Size.Small"/>
            <MudIcon Icon="@Icons.Material.Filled.Smartphone" Size="Size.Small"/>
            <MudIcon Icon="@Icons.Material.Filled.Tablet" Size="Size.Small"/>
        </MudStack>
    </div>
    
</MudContainer>

@code {
    @* [CascadingParameter]
    public EventCallback<string> OnPageLinkClick { get; set; }
    private void SetCurrentPageClass(string page) {
        Console.WriteLine("SetCurrentPageClass: " + page);
        OnPageLinkClick.InvokeAsync(page);
    } *@
}