<MudContainer>
    <MudText Typo="Typo.h2" Class="selected-link" Style="font-weight: bold; color: white !important;">Let the</MudText>
    <MudText Typo="Typo.h2" Class="selected-link" Style="font-weight: bold; color: white !important;">Search Begin</MudText>
    <MudText Typo="Typo.h6" Style="color: white !important;">
        Lots of little words Lots of little words Lots of little words
        Lots of little words Lots of little words Lots of little words
        Lots of little words Lots of little words Lots of little words
        Lots of little words Lots of little words Lots of little words
        Lots of little words Lots of little words
    </MudText>
<div class="mt-6">
    <MudButton Href="/wsk/allgames" Class="pulse rounded-lg" Variant="Variant.Filled" Color="Color.Success" FullWidth="false" Style="width:200px;height:50px;">Buy Now</MudButton>
    <MudButton Href="/wsk/allgames" Class="rounded-lg" Variant="Variant.Outlined" Color="Color.Success" FullWidth="false" Style="width:200px;height:50px;">Play Free</MudButton>
</div>
<div class="mt-16">
    <MudText Typo="Typo.caption" Class="d-block">Availabel On:</MudText>
    <MudStack Row="true" Class="ml-8">
    <MudText Typo="Typo.caption">Your Screen</MudText>
        <MudIcon Icon="@Icons.Material.Filled.Monitor" Size="Size.Small"/>
        <MudIcon Icon="@Icons.Material.Filled.Smartphone" Size="Size.Small"/>
        <MudIcon Icon="@Icons.Material.Filled.Tablet" Size="Size.Small"/>
    </MudStack>
</div>
    
    
    
    
    
    
</MudContainer>
