@inherits LayoutComponentBase

<style>
    html {
        background-color: white;
    }
</style>
<MudThemeProvider @ref="@_mudThemeProvider" Theme="_selectedMudTheme" @bind-IsDarkMode="@_isDarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <div class="no-print" style="position: absolute; top: 15px; left: 25px; padding: 12px; padding-top: 16px; border-radius: 12px; background-color: rgba(0,0,0,0.75);">
        <WskLogo />
    </div>
    @Body
</MudLayout>

@code {
    private bool _isDarkMode;
    private MudThemeProvider _mudThemeProvider;
    private MudTheme _selectedMudTheme;
}