@page "/wsk/allgames"

@inject IStringLocalizer<AllGames> Localize

<div>
    <p>Word Seach Kingdom - All Games</p>

    <MudTable Class="mt-4" Id="AllGamesStaticTable" Items="@_games" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info">
        <RowTemplate>
            <MudButton Class="mt-4" Variant="Variant.Filled" Color="Color.Primary" OnClick="() => NavigateToGame(context.Id.ToString())">@context.Title</MudButton>
        </RowTemplate>
    </MudTable>

  
</div>

@code {
    private List<GameViewModel> _games = new();
    [Parameter]
    public EventCallback<GameViewModel> OnChosenGame { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();                     
        _games = await WskDataService.GamesGetAllAsync();
    }

    protected async Task NavigateToGame(string gameId)
    {
        NavigationManager.NavigateTo($"/wsk/game/{gameId}");
    }
}
