@page "/wsk/allgames"

@inject IStringLocalizer<AllGames> Localize

<div>
    <p>Word Seach Kingdom - All Games</p>

<MudContainer>
    @if (_showGame == false)
    {
        <AllGamesComponent OnChosenGame="@HandleChosenGame" />
    }
    else
    {
        <GameComponent Game="@_chosenGame" OnEndGame="@HandleEndGame"  />
    }
</MudContainer>

  
</div>

@code {
    private List<GameViewModel> _games = new();
    [Parameter]
    public EventCallback<GameViewModel> OnChosenGame { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();                     
        _games = await WskDataService.GamesGetAllAsync();
    }

    protected async Task NavigateToGame(string gameId)
    {
        NavigationManager.NavigateTo($"/wsk/game/{gameId}");
    }
}
