@import "./base/_variables";

html {
  background-color: black;
}

.mudmenuitem-custom {
  text-align: center;
  width: 100px;
}

.red {
  color: red;
}

body {
  font-family: "Courier New", Courier, monospace; /* Monospace font */
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}



