.liveRoomSession__card-title {
    animation: autoscroll 3s linear delay infinite alternate;
}

@keyframes autoscroll {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}