@use './base/_variables' as v;
@use './base/mixins' as m;

@import './base/_imports';

SidewaysList ul {
    @include m.horizontal-list;
}

td {
    &:hover {
        background-color: blue;
    }
}

.mud-input-outlined-border {
    border-color: #000000 !important;
}

.mud-typography {
    color: #000000 !important;
}

.engraved-text-container {
    color: transparent;
    background: linear-gradient( #919191 35%, #FFFFFF 52%, #9C9C9C 100%);
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}
.pop-out-text {
    text-shadow: 1px 0px 0px rgb(155,155,155), 2px 0px 0px rgb(0,0,0), 3px 3px 5px green;
}

.fire {
    color: #f5f5f5; /* Light text color */
    //text-align:center; /* Center alignment of text */
    //font-family: 'Courier New', Courier, monospace; /* Monospace font */
    //font-size: 80px; /* Text size */
    /* Multi-layered text-shadow for fire effect */
    text-shadow:
    0px -1px 3px #fff, /* Innermost layer - intense heat (white) */
    0px -2px 6px #FF3, /* Second layer - core of flame (yellow) */
    0px -6px 12px #F90, /* Middle layer - body of flame (orange) */
    0px -10px 20px #C33; /* Outermost layer - edges of flame (red) */
    animation: flicer 2s infinite;
}
/* Define the animation named "flicker" */
@keyframes flicker {
    /* Initial state of animation */
    0%, 
    /* Final state of animation */
    100% { 
        text-shadow: 
            0 -1px 3px #fff, /* Innermost layer - intense heat (white) */
            0 -2px 6px #FF3, /* Second layer - core of flame (yellow) */
            0 -6px 12px #F90, /* Middle layer - body of flame (orange) */
            0 -10px 20px #C33; /* Outermost layer - edges of flame (red) */
    }
    /* Middle state of animation */
    50% { 
        text-shadow: 
            0 -2px 6px #fff, /* Innermost layer - intense heat (white) */
            0 -4px 12px #FF3, /* Second layer - core of flame (yellow) */
            0 -8px 16px #F90, /* Middle layer - body of flame (orange) */
            0 -12px 24px #C33; /* Outermost layer - edges of flame (red) */
    }
}