@use './base/_variables' as v;
@use './base/mixins' as m;

@import './base/_imports';

SidewaysList ul {
    @include m.horizontal-list;
}

td {
    &:hover {
        background-color: blue;
    }
}

.mud-input-outlined-border {
    border-color: #000000 !important;
}

.mud-typography {
    color: #000000 !important;
}

.engraved-text-container {
    color: transparent;
    background: linear-gradient( #919191 35%, #FFFFFF 52%, #9C9C9C 100%);
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}
.pop-out-text {
    text-shadow: 1px 0px 0px rgb(155,155,155), 2px 0px 0px rgb(0,0,0), 3px 3px 5px green;
}
